/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.git
.gitattributes
.gitignore
.dockerignore
Dockerfile
README.md
.phpunit.result.cache
.php_cs.cache

# IDE specific files
.vscode/
.idea/
*.iml
.atom/
.classpath
.project
.settings/
*.swp
*.swo
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# OS specific configuration filesystem
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent