# Ignore the typical files and directories

# Ignore all log files and temp data
log/*
tmp/*
!tmp/.keep

# Ignore database configuration stored in version control
config/database.yml

# Ignore the storage directory
storage/*

# Ignore uploaded files instance folder
public/uploads/*

# Ignore master key for decrypting credentials and more
config/master.key

# Ignore test, spec, and other test-related directories
test/*
spec/*
features/*

# Ignore other unnecessary files
.DS_Store
**/*.swp
**/*.swo
**/.sass-cache
**/.byebug_history

# Ignore specific environment configuration files
.env
.env.production
.env.development
.env.test

# Ignore node_modules
node_modules/*
yarn-error.log

# Ignore precompiled assets
public/assets/*
public/packs/*
public/packs-test/*

# Ignore specific database files
db/*.sqlite3
db/*.sqlite3-journal

# Ignore pid files
tmp/pids/*
tmp/cache/*
tmp/sockets/*

# Ignore other unnecessary files
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.ruby-version
.ruby-gemset

# Ignore all secrets stored in .env or .credentials
*.env
*.credentials
*.key

# Ignore vendor/bundle as it's created during the build and should not be copied from host
vendor/bundle/*

# Ignore master key
config/credentials/*.key

# Ignore bundler config
.bundle

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
# Files that might appear on external disks
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
# Files that might appear in the root of a volume
System Volume Information/

# Linux-specific files
*~

# Various IDEs and text editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
